<!--list columns-->
<th data-options="field:'user_name',align:'center', width:'15%'">用户名</th>
<th data-options="field:'name',align:'center', width:'10%'">姓名</th>
<th data-options="field:'tenant_name',align:'center', width:'23%'">Tenant</th>
<th data-options="field:'subject_cn',align:'center', width:'10%'">学科</th>
<th data-options="field:'qq',align:'center', width:'8%'">QQ</th>
<th data-options="field:'phone',align:'center', width:'8%'">电话</th>
<th data-options="field:'email',align:'center', width:'8%'">邮箱</th>
<th data-options="field:'dt_update',align:'center', width:'20%'">更新时间</th>

<!--form in dialog-->
<%= render partial: "shared/manager/user_form_in_dialog" %>


<!--  search  tool -->
<% content_for :tb_search do %>
	<span>用户名:</span>
	<input name="user_name" class="easyui-textbox" style="width:100px">
	<span>姓名:</span>
	<input name="name" class="easyui-textbox" style="width:100px">
	<span>学校名:</span>
	<input name="tenant_name" class="easyui-textbox" style="width:100px">
	<span>学科:</span>
	<select name="subject" panelHeight="auto" class="easyui-combobox" style="width:80px">
		<option value="">&nbsp;</option>
		<% subject_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>
	<a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="doSearch()">Search</a>
<%end%>