<div class="easyui-tabs" style="width:600px; height:300px;">
  <div title="基本信息" style="padding: 15px; overflow:scroll;">
  	<%= render partial: "managers/bank_tests/base_info" %>
	</div>
	<div title="<%= LABEL("managers.users.tenant")%>" style="padding: 15px; overflow:scroll;">
		<%= render partial: "shared/manager/area_list" %>
	</div>
  <div class="ckp_system" title="指标体系" style="padding: 15px; overflow:scroll;	">
  </div>
  <div class="paper_info" title="试卷信息" style="padding: 15px; overflow:scroll;">
  </div>
</div>