<% content_for :form do %>

    <div style="margin:5px 0px 5px 15px;">
      <label for="users_name">名称</label>
      <input class="easyui-validatebox" id="users_name" name="name" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="users_desc">描述</label>
        <textarea type="text" cols="35" rows="4" name="desc" id="users_desc"></textarea>
    </div>

<% end %>