/*
*= require ztree/css/demo
*= require ztree/css/zTreeStyle/zTreeStyle.css
*= require_self
*/
.ztree li span.button::before {
	color:#333;
}

form#file_upload {padding-top: 10px;}

.ztree li span.button.add {
  margin-left: 2px;
  margin-right: -1px;
  background-position: -144px 0;
  vertical-align: top;
}