<% content_for :form do %>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_name">名称</label>
        <input class="easyui-validatebox" id="skope_rules_name" name="name" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_category">类别</label>
        <input class="easyui-validatebox" id="skope_rules_category" name="category" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_priority">优先度</label>
        <input class="easyui-validatebox" id="skope_rules_priority" name="priority" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_rkey">键</label>
        <input class="easyui-validatebox" id="skope_rules_rkey" name="rkey" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_rvalue">值</label>
        <input class="easyui-validatebox" id="skope_rules_rvalue" name="rvalue" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="skope_rules_desc">描述</label>
        <input class="easyui-validatebox" id="skope_rules_desc" name="desc" style="width:200px;" data-options="required:true"></textarea>
    </div>

<% end %>