<script type="text/template" class="fileupload">
  <form action="" accept-charset="UTF-8" method="post" id="refrom" class="dlg-form" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="">
    <div class="ffile">
      <label>文件:</label>
      <input type="file" name="file_name">
    </div>
  </form>
</script>