<% content_for :form do %>

    <div style="margin:5px 0px 5px 15px;">
      <label for="permission_name">名称</label>
      <input class="easyui-validatebox" id="permission_name" name="name" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
      <label for="permission_controller">Controller</label>
      <input class="easyui-validatebox" id="permission_controller" name="subject_class" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
      <label for="permission_operation">Action</label>
      <input class="easyui-validatebox" id=""permission_operation"" name="operation" style="width:200px;" data-options="required:true">
    </div>

    <div style="margin:5px 0px 5px 15px;">
        <label for="permission_description">描述</label>
        <textarea type="text" cols="35" rows="4" name="description" id="permission_description"></textarea>
    </div>

<% end %>