<!--list columns-->
<th data-options="field:'user_name',align:'center', width:'20%'">用户名</th>
<th data-options="field:'name',align:'center', width:'20%'">姓名</th>
<th data-options="field:'qq',align:'center', width:'15%'">QQ</th>
<th data-options="field:'phone',align:'center', width:'15%'">电话</th>
<th data-options="field:'email',align:'center', width:'15%'">邮箱</th>
<th data-options="field:'dt_update',align:'center', width:'17%'">更新时间</th>

<!--form in dialog-->
<%= render partial: "shared/manager/user_form_in_dialog" %>

<% content_for :tb_search do %>
	<span>用户名:</span>
	<input name="user_name" style="line-height:18px;border:1px solid #ccc;width:100px">
	<span>姓名:</span>
	<input name="name_cn" style="line-height:18px;border:1px solid #ccc;width:100px">
	<a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
<%end%>