<!--list columns-->
<th data-options="field:'user_name',align:'center', width:'15%'">用户名</th>
<th data-options="field:'name',align:'center', width:'10%'">姓名</th>
<th data-options="field:'sex_label',align:'center', width:'5%'">性别</th>
<th data-options="field:'tenant_name',align:'center', width:'20	%'">Tenant</th>
<th data-options="field:'stu_number',align:'center', width:'10%'">学号</th>
<th data-options="field:'grade_label',align:'center', width:'10%'">年级</th>
<th data-options="field:'classroom_label',align:'center', width:'5%'">班级</th>
<th data-options="field:'qq',align:'center', width:'5%'">QQ</th>
<th data-options="field:'phone',align:'center', width:'5%'">电话</th>
<th data-options="field:'email',align:'center', width:'5%'">邮箱</th>
<th data-options="field:'dt_update',align:'center', width:'12%'">更新时间</th>

<!--form in dialog-->
<%= render partial: "shared/manager/user_form_in_dialog" %>

<% content_for :tb_search do %>
	<span>用户名:</span>
	<input name="user_name" style="line-height:18px;border:1px solid #ccc;width:100px">
	<span>姓名:</span>
	<input name="name" style="line-height:18px;border:1px solid #ccc;width:100px">
	<span>学校名:</span>
	<input name="tenant_name" style="line-height:18px;border:1px solid #ccc;width:100px">
	<span>年级:</span>
	<select name="subject" panelHeight="auto" style="width:80px">
		<option value="">&nbsp;</option>
		<% grade_list.each do |key, value| %>
			<option value="<%= key %>"><%= value %></option>
		<% end %>
	</select>

	<span>班级:</span>
	<input name="classroom" style="line-height:18px;border:1px solid #ccc;width:100px">
	<a href="#" class="easyui-linkbutton" plain="true" onclick="doSearch()">Search</a>
<%end%>