<div id="head"><button class="btn btn-primary" id="update_button">更新数据</button></div>
<input type="hidden" id="update_path" value= <%= image_path "update.gif"%> >
<input type="hidden" id="pie_path" value= <%= image_path "pie.png"%> >
<input type="hidden" id="bar_path" value= <%= image_path "bar.png"%> >