<div style="float: left;width: 32%;padding: 0.5%;">
  <div class="box" style="text-align: center; background-color: #A6AEBB">
    <div class="box-body">
      <h1 style="color: <%=color%>"><%=num_tp %></h1>
      <hr>
      <h2 id=<%=num_id %>>暂无数据</h2>
    </div>
  </div>
</div>
